### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

node_modules
dist
*.tgz
.DS_Store
.env
.env.*
vento/
docs
vento_2/
uso

.namignore
analizar_todo.py
archivos_pedidos.txt
estructura_y_contenido.md