node_modules/
dist/
coverage/
*.tgz
*.log
.DS_Store
.env
.env.*

internal-test/node_modules/
internal-test/dist/
internal-test/test-results/
internal-test/playwright-report/
internal-test/coverage/
**.zip