### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

node_modules
dist
*.tgz
.DS_Store
.env
.env.*
vento/
docs
vento_2/
uso

internal-test
examinar
eee
.namignore
archivos_pedidos.txt
analizar_todo.py
analizar_commits.py
chunk_markdown.py
estructura_y_contenido.md
ultimos_commits.md
chunks
qr.png
qr.py